<app-header></app-header>

<div *ngIf="isLoading" class="loading-screen">
  <div class="loading-content">
    <img src="PCI2.jpg" alt="Logo" class="loading-logo justify-center">
    <div class="loading-bar">
      <div class="loading-progress"></div>
    </div>
  </div>
</div>

<div class=" mx-auto mt-14">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>


<div class="fixed bottom-6 right-6 space-y-4 z-50">
  <a href="https://wa.me/1234567890" target="_blank" rel="noopener noreferrer"
    class="w-14 h-14 rounded-full border border-gray-300 bg-green-500 flex items-center justify-center shadow-md hover:shadow-lg transition-all">
    <span class="iconify text-2xl text-white" data-icon="mdi:whatsapp"></span>
  </a>
  <button (click)="openChat()"
    class="w-14 h-14 rounded-full border border-gray-300 bg-white flex items-center justify-center shadow-md hover:shadow-lg transition-all">
    <span class="iconify text-2xl text-gray-700" data-icon="mdi:chat-outline"></span>
  </button>
  <button (click)="editAction()"
    class="w-14 h-14 rounded-full border border-gray-300 bg-white flex items-center justify-center shadow-md hover:shadow-lg transition-all">
    <span class="iconify text-2xl text-gray-700" data-icon="mdi:pencil-outline"></span>
  </button>
  <button *ngIf="showScrollTop" (click)="scrollToTop()"
    class="w-14 h-14 rounded-full border border-gray-300 bg-white flex items-center justify-center shadow-md hover:shadow-lg transition-all">
    <span class="iconify text-2xl text-gray-700" data-icon="mdi:arrow-up"></span>
  </button>

</div>