<div class="flex justify-center items-center h-screen">
  <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
    <h2 class="text-3xl font-bold text-center text-pci-blue mb-6">Cuenta Verificada</h2>
    <p class="text-green-500 text-lg text-center mb-6">¡Tu cuenta ha sido verificada exitosamente!</p>

    <a routerLink="/login" class="w-full block bg-pci-blue text-white font-bold py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 text-center">
      Ir a Iniciar Sesión
    </a>
  </div>
</div>
