<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-2xl font-bold text-center text-pci-blue mb-4">Restablecer Contraseña</h2>
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">

      <!-- Contraseña actual -->
      <div class="mb-4">
        <label class="block text-pci-blue font-bold mb-2" for="currentPassword">Contraseña Actual</label>
        <input
          formControlName="currentPassword"
          id="currentPassword"
          type="password"
          placeholder="Ingresa tu contraseña actual"
          class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue"
        />
      </div>

      <!-- Nueva contraseña -->
      <div class="mb-4">
        <label class="block text-pci-blue font-bold mb-2" for="password">Nueva Contraseña</label>
        <div class="relative">
          <input
            formControlName="password"
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Nueva contraseña"
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue"
            (input)="onPasswordInput()"
          />
          <button
            type="button"
            class="absolute right-2 top-2 text-gray-500 hover:text-gray-700 focus:outline-none"
            (click)="togglePasswordVisibility('password')"
          >
            <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
          </button>
        </div>

        <div class="relative h-2 mt-2 rounded bg-gray-300">
          <div class="h-2 rounded" [ngClass]="passwordStrengthClass" [style.width.%]="passwordStrengthPercentage"></div>
        </div>
        <div class="text-sm mt-1">
          <small [ngClass]="passwordStrengthClassText">{{ passwordStrengthText }}</small>
        </div>
      </div>

      <!-- Confirmar nueva contraseña -->
      <div class="mb-4">
        <label class="block text-pci-blue font-bold mb-2" for="confirmPassword">Confirmar Nueva Contraseña</label>
        <div class="relative">
          <input
            formControlName="confirmPassword"
            id="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Confirma tu nueva contraseña"
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue"
          />
          <button
            type="button"
            class="absolute right-2 top-2 text-gray-500 hover:text-gray-700 focus:outline-none"
            (click)="togglePasswordVisibility('confirmPassword')"
          >
            <fa-icon [icon]="showConfirmPassword ? faEyeSlash : faEye"></fa-icon>
          </button>
        </div>
      </div>

      <div *ngIf="resetForm.hasError('notSame')" class="text-red-500 mt-1">
        <small>Las contraseñas no coinciden.</small>
      </div>

      <button
        type="submit"
        class="w-full bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-green-300"
      >
        Cambiar Contraseña
      </button>
    </form>
  </div>
</div>
