<div class="flex justify-center items-center h-screen">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-2xl font-bold text-center text-pci-blue mb-4">
      ¿Olvidaste tu contraseña?
    </h2>
    <p class="text-center mb-6 text-gray-600">
      ¡No hay problema! Solo ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
    </p>

    <form [formGroup]="requestForm" (ngSubmit)="requestPasswordReset()">
      <div class="mb-4">
        <label class="block text-pci-blue font-bold mb-2" for="email">E-Mail:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Ingresa tu correo electrónico"
          class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue"
        />
        <div *ngIf="requestForm.get('email')?.invalid && requestForm.get('email')?.touched" class="text-red-500 mt-2">
          Favor de llenar el campo
        </div>
      </div>

      <button
        type="submit"
        class="w-full bg-pci-blue text-pci-white font-bold py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        type="submit">
        Solicitar contraseña
      </button>
    </form>

    <p class="text-center text-sm text-gray-600 mt-4">
      Nota: Si no recibes nuestro e-mail, verifica tu bandeja de correo no deseado. Si tienes problemas, contacta a <a href="" class="text-blue-500 underline">PCI tecnologias</a>.
    </p>
  </div>
</div>
