<div class="flex justify-center items-center mx-auto py-20 px-8">
  <div class="w-full max-w-3xl bg-white p-8 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-6">Editar Perfil de la Empresa</h2>

    <form [formGroup]="companyProfileForm" (ngSubmit)="onSubmit()">
      <div class="mb-6" formGroupName="socialMedia">
        <label class="block font-bold mb-2">Redes Sociales</label>
        <div class="grid grid-cols-2 gap-4">
          <div class="flex flex-col">
            <div class="flex items-center space-x-2">
              <span class="iconify text-blue-600" data-icon="logos:facebook" style="font-size: 24px;"></span>
              <input id="facebook" formControlName="facebook" placeholder="Facebook URL"
                class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue" />
            </div>
            <div *ngIf="getControlError('facebook', 'socialMedia')" class="text-red-500 text-sm">
              URL de Facebook inválida
            </div>
          </div>

          <div class="flex flex-col">
            <div class="flex items-center space-x-2">
              <span class="iconify text-blue-400" data-icon="logos:twitter" style="font-size: 24px;"></span>
              <input id="twitter" formControlName="twitter" placeholder="Twitter URL"
                class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue" />
            </div>
            <div *ngIf="getControlError('twitter', 'socialMedia')" class="text-red-500 text-sm">
              URL de Twitter inválida
            </div>
          </div>

          <div class="flex flex-col">
            <div class="flex items-center space-x-2">
              <span class="iconify text-blue-700" data-icon="skill-icons:linkedin" style="font-size: 24px;"></span>
              <input id="linkedin" formControlName="linkedin" placeholder="LinkedIn URL"
                class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue" />
            </div>
            <div *ngIf="getControlError('linkedin', 'socialMedia')" class="text-red-500 text-sm">
              URL de LinkedIn inválida
            </div>
          </div>

          <div class="flex flex-col">
            <div class="flex items-center space-x-2">
              <span class="iconify text-pink-500" data-icon="skill-icons:instagram" style="font-size: 24px;"></span>
              <input id="instagram" formControlName="instagram" placeholder="Instagram URL"
                class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue" />
            </div>
            <div *ngIf="getControlError('instagram', 'socialMedia')" class="text-red-500 text-sm">
              URL de Instagram inválida
            </div>
          </div>
        </div>
      </div>

      <div class="mb-6">
        <label class="block font-bold mb-2">Eslogan</label>
        <input formControlName="slogan" placeholder="Eslogan"
          class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue" />
        <div *ngIf="getControlError('slogan')" class="text-red-500 text-sm">
          El eslogan es obligatorio y no puede exceder 100 caracteres.
        </div>
      </div>

      <div class="mb-6">
        <label class="block font-bold mb-2">Logo de la Empresa</label>
        <button type="button" (click)="onFileSelected()"
          class="bg-pci-blue text-white py-2 px-4 rounded hover:bg-blue-700">
          Subir Logo
        </button>
        <div class="grid grid-cols-3 gap-2 mt-4">
          <img *ngFor="let logo of uploadedLogos" [src]="logo" alt="Logo Upload" class="max-h-20 cursor-pointer border"
            (click)="selectLogo(logo)" [class.border-blue-500]="logo === logoPreview" />
        </div>

        <img *ngIf="logoPreview" [src]="logoPreview" alt="Logo Preview" class="mt-4 max-h-40" />
      </div>

      <div class="mb-6">
        <label class="block font-bold mb-2">Título de la Página</label>
        <input formControlName="pageTitle" placeholder="Título de la Página"
          class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue" />
        <div *ngIf="getControlError('pageTitle')" class="text-red-500 text-sm">
          El título de la página es obligatorio y no puede exceder 60 caracteres.
        </div>
      </div>

      <div class="mb-6">
        <label class="block font-bold mb-2">Datos de Contacto</label>
        <div formGroupName="contact" class="grid grid-cols-2 gap-4">
          <div>
            <input formControlName="address" placeholder="Dirección"
              class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue" />
            <div *ngIf="getControlError('address', 'contact')" class="text-red-500 text-sm">
              La dirección es obligatoria y no puede exceder 255 caracteres.
            </div>
          </div>
          <div>
            <input formControlName="email" placeholder="Correo Electrónico"
              class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue" />
            <div *ngIf="getControlError('email', 'contact')" class="text-red-500 text-sm">
              Formato de correo electrónico inválido.
            </div>
          </div>
          <div>
            <input formControlName="phone" placeholder="Teléfono"
              class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-pci-blue" />
            <div *ngIf="getControlError('phone', 'contact')" class="text-red-500 text-sm">
              El número de teléfono debe tener entre 7 y 15 dígitos.
            </div>
          </div>
        </div>
      </div>

      <button type="submit"
        class="w-full bg-pci-blue text-white font-bold py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
        Guardar Cambios
      </button>
    </form>
  </div>
</div>